<app-visualizer></app-visualizer>
<div id="scroll-con" class="scroll-container">
  <section id="home-section" class="profile-section">
    <h1>
      Luke Leonard
    </h1>
  </section>
  <section id="about-section" class="profile-section pre-slide">
    <div id="about-section-bg">
    <div id="about-con-1" class="unskew about-con">
      <h3>How I started Coding:</h3>
      <p>hello</p>
      <h3>Intrests:</h3>
      <p>hello</p>
      <h3>Intrests:</h3>
      <p>hello</p>
    </div>

  </div>
  </section>
  <section id="contact-section" class="profile-section">Contact</section>
  <section id="projects-section" class="profile-section">Projects</section>
</div>
